<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Héroes</title>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li>
            <a href="http://localhost:3030/babbage">Babbage</a>
        </li>
        <li>
            <a href="http://localhost:3030/berners-lee">Berners-Lee</a>
        </li>
        <li>
            <a href="http://localhost:3030/clarke">Clarke</a>
        </li>
        <li>
            <a href="http://localhost:3030/hamilton">Hamilton</a>
        </li>
        <li>
            <a href="http://localhost:3030/hopper">Hopper</a>
        </li>
        <li>
            <a href="http://localhost:3030/lovelace">Lovelace</a>
        </li>
        <li>
            <a href="http://localhost:3030/turing">Turing</a>
        </li>
    </ul>
    
</body>
</html>